{% layout "layout.liquid" %}
{% block content %}
<h1 class="text-center">All Jobs</h1>
</br>
<button class="btn btn-dark"> <a href="/memos/previewmemo"> Preview Memo </a></button>
</br>
    <span class="text-center">
      <h3>Filter </h3>
        <form action="/jobs/show"> 
          <input 
          type="text"
          name="order_number"
          placeholder="Order Number"
          class="form-control text-center"
          type="submit"
          >
          <input 
          type="text"
          name="sku"
          placeholder="Sku"
          class="form-control text-center"
          >
          <input 
          type="text"
          name="setter"
          placeholder="Setter"
          class="form-control text-center"
          >
          <input 
          type="text"
          name="date"
          placeholder="Date (DD/MM/YY)"
          class="form-control text-center"
          >
          <input 
          type="text"
          name="description"
          placeholder="Description"
          class="form-control text-center"
          >
          <input type="submit"  class="btn btn-light">
        </form> 
    </span>


    <table style="width:100%">
      <tr>
          <th>Checked</th>
          <th>Order Number</th>
          <th>SKU</th>
          <th>Quantity</th>
          <th>Stones</th>
          <th>Description</th>
          <th>Setter</th>
          <th>Date Created</th>
          <th>Created By</th>
  
      </tr>
      {% for job in jobs %}
      <tr>
          <td> 
              <form action="/jobs/checked/{{job._id}}?_method=PUT" method="POST">
              <input  onChange="this.form.submit()" type="checkbox" name="checked" class="form-check-input"
              {% if job.checked %}
              checked
              {% endif %}> 
          </form>
          </td>
          <td>{{job.order_number}}</td>
          <td> {{ job.sku }}</td>
          <td>{{ job.quantity }}</td>
          <td>{{ job.stones }}</td>
          <td>{{ job.description }}</td>
          <td>{{ job.setter }}</td>
          <td> {{ job.createdAt| slice: 0, 16}}</td>
          <td>{{ job.owner.name | capitalize }}</td>
        {% endfor %}
        <span class="text-center">

            <a href="/jobs" class="btn btn-dark ">Clear Filter</a>
        </span>
      </tr>
    </table>
{% endblock %}