{% layout "layout.liquid" %}
{% block content %}

<div class="text-center">
    <div class="bg">
        <h1 class="text-center">All Jobs</h1>
            <a href="/jobs/new" class="btn btn-dark text-center">Create Job</a>
        </div>
            <!-- <h3>Assign</h3>
                <label for="setter">Setters  </label>
                    <select name="dog-names" id="dog-names">
                        {% for job in jobs %}
                            <option value="setter">{{job.setter}}</option>
                        {% endfor %}
                    </select>
                    <label for="setter">Setters  </label>
                    <select name="dog-names" id="dog-names">
                        {% for job in jobs %}
                            <option value="setter">{{job.setter}}</option>
                        {% endfor %}
                    </select>
                    <label for="setter">Setters  </label>
                    <select name="dog-names" id="dog-names">
                        {% for job in jobs %}
                            <option value="setter">{{job.setter}}</option>
                        {% endfor %}
                    </select>
                    <label for="setter">Setters  </label>
                    <select name="dog-names" id="dog-names">
                        {% for job in jobs %}
                            <option value="setter">{{job.setter}}</option>
                        {% endfor %}
                    </select> -->



     {% for job in jobs %} 
        <h5 class="card-header">  </h5>
            <div class="card-body">
                <input 
                type="checkbox" 
                name="checked"
                class="form-check-input"
                {% if job.checked %}
                checked
                {% endif %}
                > </br>
                    Order Number: {{ job.order_number }} </br>
                    Job SKU: {{ job.sku }} </br>
                    Quantity:{{ job.quantity }} </br>
                    Stones: {{ job.stones }} </br>
                    Drescription of Job: {{ job.description }} </br>
                    Setter: {{ job.setter }} </br>
                    Date created: {{ job.createdAt.| slice: 0, 16}} </br>
                    Memo Number: </br>
                    Created By: {{ username | capitalize }} </br>
                
                <a href="/jobs/{{ job._id }}" class="btn btn-light">Click on this Job</a> 
                <form action="/jobs/{{job._id }}?_method=DELETE" method="POST">
                    <input type="submit" value="delete this job" class="btn btn-danger">
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}