{% layout "layout.liquid" %}
{% block content %}
    <h1 class="text-center">All Jobs</h1>
    </br>
  <!-- <span id="span4">
    <form action="/jobs">
      <label for="setter">Assign Setter:</label>
        <select id="setters" name="setters">
        <option value="A">Setter A</option>
        <option value="B">Setter B</option>
        <option value="C">Setter C</option>
        </select>
      <input type="submit" value="Assign Setter" class="btn btn-light">
    </form>
  </span> -->
    <!-- <span class="text-center">
        <form action="/jobs/creatememo" method="POST">
        <input type="submit" value="Create and Print Memo" class="btn btn-dark">
    </form> -->

<!-- <a href="/memos/previewmemo"> Preview Memo </a> -->
    <!-- </span> -->


    </br>

    <span class="text-center">
        <h3>Filter </h3>
          <form action="/jobs/show"> 
            <input 
            type="text"
            name="order_number"
            placeholder="Order Number"
            class="form-control text-center"
            type="submit"
            >
            <input 
            type="text"
            name="sku"
            placeholder="Sku"
            class="form-control text-center"
            >
            <select name="setter">
              <option>Select</option>
                <option value="A">Setter A</option>
                <option value="B">Setter B</option>
                <option value="C">Setter C</option>
              </select>
            <input 
            type="text"
            name="date"
            placeholder="Date (DD/MM/YY)"
            class="form-control text-center"
            >
            <input 
            type="text"
            name="description"
            placeholder="Description"
            class="form-control text-center"
            >
            <input type="submit"  class="btn btn-light">
          </form> 
        </span>
        
          <!-- <span class="text-center">
              <a href="/jobs" class="btn btn-dark ">Clear Filter</a>
          </span> -->
 
    </br>
 
  <table style="width:100%">
    <tr>
        <th> 
            <form action="/jobs/checked?_method=PUT" method="POST">
                <input type="submit" value="Check all Boxes" class="btn btn-light">
            </form>
            <form action="/jobs/unchecked?_method=PUT" method="POST">
                <input type="submit" value="Uncheck all Boxes" class="btn btn-light">
            </form>
        </th>
        <th>Order Number</th>
        <th>SKU</th>
        <th>Quantity</th>
        <th>Stones</th>
        <th>Description</th>
        <th>Setter</th>
        <th>Date Created</th>
        <th>Created By</th>
        <th>Delete This Job</th>
    </tr>
    {% for job in jobs %}
    <tr>
        <td> 
            <form action="/jobs/checked/{{job._id}}?_method=PUT" method="POST">
            <input  onChange="this.form.submit()" type="checkbox" name="checked" class="form-check-input"
            {% if job.checked %}
            checked
            {% endif %}> 
        </form>
        </td>
        <td>{{job.order_number}}</td>
        <td> {{ job.sku }}</td>
        <td>{{ job.quantity }}</td>
        <td>{{ job.stones }}</td>
        <td>{{ job.description }}</td>
        <td>{{ job.setter }}</td>
        <td> {{ job.createdAt.| slice: 0, 16}}</td>
        <td>{{ job.owner.name | capitalize }}</td>
        <td>
          
            <form action="/jobs/{{job._id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete this job" class="btn btn-light">
            </form>
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}