{% layout "layout.liquid" %}
{% block content %}



Gem Stone King Inc. 
555 Eight Ave
Room 300
New York NY 10018 
212-869-6776
</br>
<!-- {% for arr in newArr %}
{{arr.sku}}
{% endfor %} -->
Memo Number {{ memos._id }}</br>
{% for arr in newArr %}
                    Job SKU: {{ arr.sku }} </br>
                    Quantity:{{ memo.quantity }} </br>
                    Stones: {{ memos.stones }} </br>
                    Drescription of Job: {{ memos.description }} </br>
                    Setter: {{ memos.setter }} </br>
                    Date created: {{ memos.createdAt.| slice: 0, 16}} </br>
                    Memo Number: {{ memos.number}}</br>
                    Created By: {{ memos.name | capitalize }} </br>
            </div>
            {% endfor %}

{% endblock %}