{% layout "layout.liquid" %}
{% block content %}



Gem Stone King Inc. 
555 Eight Ave
Room 300
New York NY 10018 
212-869-6776
</br>
<!-- {% for arr in newArr %}
{{arr.sku}}
{% endfor %} -->
Memo Number {{ memos._id }}</br>
{% for arr in newArr %}
                    Job SKU: {{ arr.sku }} </br>
                    Quantity:{{ arr.quantity }} </br>
                    Stones: {{ arr.stones }} </br>
                    Drescription of Job: {{ arr.description }} </br>
                    Setter: {{ arr.setter }} </br>
                    Date created: {{ memos.createdAt.| slice: 0, 16}} </br>
                    Created By: {{ arr.owner.username | capitalize }} </br>
            </div>
            {% endfor %}
         

{% endblock %}