{% layout "layout2.liquid" %}
{% block content %}

</br>

<div style="display:flex; justify-content: space-around;">
        <div>
                <h4>Gem Stone King Inc. </h4>
                555 Eight Ave</br>
                Room 300</br>
                New York NY 10018 </br>
                212-869-6776</br>
                </br>
        </div>
        <div> 
                <h4> Job Number: </h4> {{ memos._id | slice: 15,17}}</br>
        </div>
        <div>
                <h4> Date: </h4> {{ memos.createdAt.| slice: 0, 16}} 
        </div>
</div>


<table style="width:100%">
        <tr>
            <th>Order Number</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Stones</th>
            <th>Description</th>
        </tr>
{% for arr in newArr %}
        <tr>
                <td>{{ arr.sku }} </td>
                <td>{{ arr.order_number}} </td>
                <td>{{ arr.quantity }} </td> 
                <td>{{ arr.stones }} </td>
                <td>{{ arr.description }} </td>
        </tr>
{% endfor %}
</table>
</br>
<table style="width:30%">
        <tr>
                <th>Total Quantity:   {{sumQuantity}} </th>
        </tr>
        <tr>
                <th>Total Stones: {{stonesQuantity}}</th>
        </tr>
        <tr>
                <th>Total Amount:  ${{stoneSum}} </th>
        </tr>
        <tr>
      </tr>
</table>  
</br>

<div style="display:flex; justify-content: space-around;">
        <div>
                <h4> Received By: </h4> </br>
        </div>
        <div>
                <p>   Name:   ___________________</p>
        </div>
        <div>
                <p>Signature: ___________________</p>
        </div>  
</div>

{% endblock %}