{% layout "layout.liquid" %}
{% block content %}



Gem Stone King Inc. 
555 Eight Ave
Room 300
New York NY 10018 
212-869-6776

{% for memo in memos %} 
                    Order Number: {{ memo.order_number }} </br>
                    Job SKU: {{ job.sku }} </br>
                    Quantity:{{ job.quantity }} </br>
                    Stones: {{ job.stones }} </br>
                    Drescription of Job: {{ job.description }} </br>
                    Setter: {{ job.setter }} </br>
                    Date created: {{ job.createdAt.| slice: 0, 16}} </br>
                    Memo Number: {{ job.number}}</br>
                    Created By: {{ job.name | capitalize }} </br>
            </div>
{% endfor %}
{% endblock %}